<h1>My Music</h1>

<p>
Welcome to my music page! Here you can find
a selection of my musical compositions. Each link
will open up an embedded YouTube video for you to listen to.
</p>

{% if pieces %}
    <ul>
    {% for p in pieces %}
        <li><a href="http://www.youtube.com/embed/{{ p.code }}"
        target="video" onclick="test();return true">
        {{ p.title }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No compositions are available.</p>
{% endif %}

<p>Click <a target = "_blank" href="https://www.youtube.com/user/slevvio/videos">here</a> if you
would like to visit my YouTube channel!</p>

<iframe width="640" height="360" frameborder="0" allowfullscreen
 name="video"></iframe>
