{% load staticfiles %}

<link rel="stylesheet" type="text/css"
      href="{%  static 'music/index.css' %}"/>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music</title>
</head>

<div id="page">
<div id="about">
<div class="container">
        <h2>My Music</h2>
        <p>
Here you can find
a selection of my musical compositions.
        </p>
        <p>Each link
will open up an embedded YouTube video for you to listen to.
        </p>



{% if pieces %}


    {% for p in pieces %}
        <div>
        <a class="musiclink" href="http://www.youtube.com/embed/{{ p.code }}"
        target="video" onclick="test();return true">
        {{ p.title }}
        </a>
        </div>
    {% endfor %}


{% else %}
    <p>No compositions are available.</p>
{% endif %}

<p>Click <a id="youtube" target="_blank" href="https://www.youtube.com/user/slevvio/videos">here</a> if you
would like to visit my YouTube channel!</p>


<div>
<iframe frameborder="0" allowfullscreen
 name="video"></iframe>
    <br/>
</div>
</div>
</div>
</div>
{#<p>?</p>#}
<footer>
    <div class="container">
        <p>This site is powered by Django.</p>
    </div>
</footer>
