{ % load staticfiles % }

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

a:link {
    color: #ff596a;
}

a:visited {
    color: #c154ff;
}
a:hover {
    color:#ffcc00;
}

#about {
    text-align: center;
    /*padding-top: 20px;*/
	padding-bottom: 3em; /* Height of the footer element */
    /*width: 100%;*/
    /*background-image: linear-gradient(*/
            /*rgba(40, 0, 0, 0.3),*/
            /*rgba(40, 0, 0, 0.3)*/
    /*),*/
    background-size: cover;
    }

#about {
    background-image: linear-gradient(
            rgba(40, 0, 0, 0.6),
            rgba(40, 0, 0, 0.6)
    ),
    url(textbook.jpg);
    background-size: cover;
    text-align: center;
    /*font-weight: 600;*/
    font-family: Roboto, sans-serif;
    padding: 20px 5%;
    color: white;
}

#about h2 {
    font-weight: 200;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
  }

#footer {
	background:green;
	width:100%;
	height: 3em;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
    background-color: green;
    background-size: cover;
}


#terminology {
    padding-bottom: 3em;
    color: dodgerblue;
    font-family: "Arial Rounded MT Bold", Roboto, sans-serif;
}

#terminology p {
    padding-left: 5%;
}

#terminology h2 {
    font-size: 50px;
    font-weight: 100;
    padding-left: 5%;
}

.definition {
    padding: 20px;
    border: dodgerblue 5px solid;
}

#terminology pre {
    font-size: 15px;
    padding-left: 5%;
}

.container {
    /*clear: both;*/
    margin: auto;
    max-width: 800px;
}

@media (min-width: 600px) {

}

pre, code {
    white-space: pre-wrap;
}

code {
    word-wrap: break-word;
}

#final{
    margin-bottom: 20px;
}

label {
    display: none;
}

.errorlist {
    display: none;
}

#error {
    font-family: "Courier New";
    color: red;
    font-size: 20px;
}

#yay {
    color: lawngreen;
    font-size: 20px;
}

#notyet {
    font-family: Palatino;
    color: dodgerblue;
    font-size: 20px;
    font-style: italic;
}