{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
      href="{%  static 'home/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Paul Slevin's Website</title>

</head>
<body>
<div id="wrapper">
    <div id="headline">
        <div class="container">
            <h1>
                Paul Slevin
            </h1>
            <p>
                Welcome to my website!
            </p>
        </div>
    </div>
    <div id="about">
        <script type="text/javascript" async>
            var headlineheight = document.getElementById("headline").clientHeight;
            var fullLength = document.getElementsByTagName("html")[0].clientHeight;
            var middle = document.getElementById('about');
            var difference = fullLength-headlineheight;
            middle.style.minHeight = "calc("+difference+"px - 3em - 20px)";
        </script>
        <div class="container">
            <h2>
                About Me
            </h2>
            <img id="mepic" src="{% static 'home/paul1.jpg' %}" alt="Paul Slevin"/>
            <p>I am a programmer, a mathematician and a musician.</p>
            <p>I am currently studying for a PhD in Mathematics at the University of Glasgow.</p>
            <p>
                Click the following links to find out more.
            </p>
                <div id="links">
                    <a href="{% url 'projects:index' %}">Projects</a>
                    <a href="{% url 'research:index' %}">Research</a>
                    <a href="{% url 'music:index' %}">Music</a>
                </div>
            <p id="last"><br/></p>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>This site is powered by Django.</p>
        </div>
    </div>
</div>



</body>
</html>
