{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
      href="{%  static 'research/index.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Research</title>
</head>
<div id="wrapper">
<div id="about">
{#    <script type="text/javascript" async>#}
{#            var headlineheight = document.getElementById("headline").clientHeight;#}
{#            var fullLength = document.getElementsByTagName("html")[0].clientHeight;#}
{#            var middle = document.getElementById('about');#}
{#            var difference = fullLength-headlineheight;#}
{#            middle.style.minHeight = "calc("+difference+"px - 3em - 20px)";#}
{#        </script>#}
    <div class="container">
        <h2>My Research</h2>
        <p>
Here you can find
a list of my published mathematical research.
        </p>
        <p>Each link
will take you to an online version of each work.
        </p>
        <p>They are
listed in chronological order of publication.
        </p>
        <p>
            {% for paper in latest_papers %}
                <a target ="_blank" href="{{ paper.address }}">{{ paper.title }}</a>
            {% endfor %}
        </p>
    <br/></div>
</div>
<div id="footer">
    <div class="container">
        <p>   <a href="{% url 'home:index' %}">Home</a>
            | <a href="{% url 'projects:index' %}">Projects</a>
            | <a href="{% url 'research:index' %}">Research</a>
            | <a href="{% url 'music:index' %}">Music</a></p>
    </div>
</div>
</div>
</html>
