{% load staticfiles %}

<link rel="stylesheet" type="text/css"
      href="{%  static 'research/index.css' %}"/>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Research</title>
</head>

<div id="about">
    <div class="container">
        <h2>My Research</h2>
        <p>
Here you can find
a list of my published mathematical research.
        </p>
        <p>Each link
will take you to an online version of each work.
        </p>
        <p>They are
listed in chronological order of publication.
        </p>
        <ol>
            {% for paper in latest_papers %}
            <li>
                <a target ="_blank" href="{{ paper.address }}">{{ paper.title }}</a>
            </li>
        {% endfor %}
        </ol>
    </div>
</div>





<footer>
    <div class="container">
        <p>This site is powered by Django.</p>
    </div>
</footer>
