<h1> My Projects</h1>

<p>
    Welcome to my projects page! Here you can have a look at the Python projects
    I have been working on recently.
</p>

<h2>
    Polynomial parser
</h2>

<p>
    I wrote a program for parsing polynomials! Click
    <a href="{% url 'projects:parser' %}">here</a> to try it, and
    <a  target ="_blank"
        href="https://github.com/paulslevin/projects/blob/master/checkio/polynomial_parser.py">here</a> for the source
    code.
</p>

<h2>
    GitHub
</h2>

<p>
    Click
    <a target=_blank" href="http://github.com/paulslevin/projects">
        here </a> to see my GitHub repository. Here you
    can find my
    solutions to various exercises from
    <a target=_blank" href="http://checkio.org">
        checkio.org</a>, as well as some programs I wrote while taking part in the Python
    <a target=_blank" href="https://www.coursera.org/specializations/fundamentalscomputing2">
        Coursera</a> courses offered by Rice University.
</p>

<h2>
    This website!
</h2>

<p>
    I developed the website you are currently visiting using the
    <a target=_blank" href="http://djangoproject.com">Django</a> Web framework.
    You can view the source code <a target="_blank" href="http://github.com/paulslevin/personal">here</a>.
</p>
