{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css"
      href="{%  static 'projects/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Projects</title>
</head>
<body>
<div id="wrapper">
    <div id="about"><div class="container">
    <h2> My Projects</h2>

    <p>
        Here you can have a look at the Python projects
        I have been working on recently.
    </p>
    <div id="chat">
    <h3>
        <span>Polynomial parser</span>
    </h3>

    <p>
        I wrote a program for parsing polynomials!</p> <p>Click
        <a href="{% url 'projects:parser' %}">here</a> to try it, and
        click <a  target="_blank"
            href="https://github.com/paulslevin/projects/blob/master/checkio/polynomial_parser.py">here</a> for the source
        code.
    </p>
    <br/>
    <h3>
        <span>GitHub</span>
    </h3>

    <p>
        Click
        <a target=_blank" href="http://github.com/paulslevin/projects"> here</a>
        to see my GitHub repository.</p><p> Here you
            can find my
            solutions to various exercises from
        <a target=_blank" href="http://checkio.org">
           checkio.org</a>.</p><p> You can also see programs I wrote while taking part in the Python
        <a target=_blank" href="https://www.coursera.org/specializations/fundamentalscomputing2">
            Coursera</a> courses.
    </p>
    <br/>
    <h3>
        <span>
    This website!</span>
    </h3>

    <p>
        I developed the website you are currently visiting using Python and the
        <a target=_blank" href="http://djangoproject.com">Django</a> Web framework.</p><p>
        I designed it from scratch using CSS, HTML and Javascript. </p><p>
        The site design scales to any device!
        You can view the source code <a target="_blank" href="http://github.com/paulslevin/personal">here</a>.

    </p>
    <br/>
    <br/>
    </div></div></div>
    <div id="footer">
    <div class="container">
        <p><a href="{% url 'home:index' %}">Home</a>
            | <a href="{% url 'projects:index' %}">Projects</a>
            | <a href="{% url 'research:index' %}">Research</a>
            | <a href="{% url 'music:index' %}">Music</a></p></div>
</div>
</div>
</body>
</html>
